.profile__info {
  display: flex;
  align-items: baseline;
  grid-row: 1/2;
  grid-column: 2/3;

  align-self: center;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .profile__info {
    grid-row: 2/3;
    grid-column: 1/2;

    margin: 26px 0 9px 25px;
  }
}
